<nav class="col-md-2 d-none d-md-block eqrs-primary-darkest sidebar">

   <h1 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1"> EQRS </h1>
   <p class="justify-content-between align-items-center px-3 mb-1"> Design system </p>


          <div class="sidebar-sticky">

         

          	<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
              <span>Getting started</span>
              <a class="d-flex align-items-center" href="#">
              </a>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Principles
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Guidelines
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Accessibility
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Responsive design
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
              <span>Style</span>
              <a class="d-flex align-items-center" href="#">
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Colors
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Grid
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Iconography
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Typography
                </a>
              </li>
            </ul>

            
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
              <span>Components</span>
              <a class="d-flex align-items-center" href="#">
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Overview
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Accordion
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Alerts
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Buttons
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Checkbox
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Data table
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Dropdown
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Inputs
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Lables
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Modal
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Progress indicators
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Radion button
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Search
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Tooltip
                </a>
              </li>
            </ul>

          </div>
        </nav>
