<h1> Buttons </h1>
<hr>

<p> Use descriptive words that clearly state the action of the button, avoiding vague wording like <i>yes</i> or <i>no</i>. </p>

<h4>Primary button</h4>
<div class="card">
  <div class="card-body">
  	<div class="row">
    <div class="col-md-2">
      <p>Default</p>
      <button class="eqrs-button-primary">Submit</button>
      <p class="notes">eqrs-button-primary</p>
    </div>
    <div class="col-md-2">
      <p>Hover</p>
      <button class="eqrs-button-primary primary-hover">Submit</button>
    </div>
    <div class="col-md-2">
      <p>Active</p>
      <button class="eqrs-button-primary primary-active">Submit</button>
    </div>
</div> <!-- row ends here -->

     <div class="col-md-12 code-block">
          <div>
          <button class="btn code-button mt-2" (click) = "primaryButtonShow = !primaryButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>
          <div *ngIf="primaryButtonShow">
            <ngx-prism [language]="cssLanguage">
             {{primaryButtonContent}}
            </ngx-prism>
          </div>
         </div>
        </div>

  </div>
</div>  <!-- card ends here -->



  <h4>Secondary button</h4>
  <div class="row">
    <div class="col-md-2">
      <p>Default</p>
      <button class="eqrs-button-secondary">Cancel</button>
      <p class="notes">eqrs-button-secondary</p>
    </div>
    <div class="col-md-2">
      <p>Hover</p>
      <button class="eqrs-button-secondary eqrs-button-secondary-hover">Cancel</button>
    </div>
    <!--  -->
    <div class="col-md-2">
      <p>Active</p>
      <button class="eqrs-button-secondary eqrs-button-secondary-active">Cancel</button>
    </div>
  </div>


<h4>Accent button</h4>
<div class="row">
    <div class="col-md-2">
      <p>Default</p>
      <button class="eqrs-button-accent">Submit</button>
      <p class="notes">eqrs-button-accent</p>
    </div>
    <div class="col-md-2">
      <p>Hover</p>
      <button class="eqrs-button-accent accent-hover">Submit</button>
    </div>
    <div class="col-md-2">
      <p>Active</p>
      <button class="eqrs-button-accent accent-active">Submit</button>
    </div>
  </div>


  <h4>Destructive action (non-recoverable)</h4>
  <div class="row">
    <div class="col-md-2">
      <p>Default</p>
      <button class="eqrs-button-destructive">Delete</button>
      <p class="notes">eqrs-button-destructive</p>
    </div>
    <div class="col-md-2">
      <p>Hover</p>
      <button class="eqrs-button-destructive eqrs-button-destructive-hover">Delete</button>
    </div>
    <div class="col-md-2">
      <p>Active</p>
      <button class="eqrs-button-destructive eqrs-button-destructive-active">Delete</button>
    </div>
  </div>


  <h4>Disabled button</h4>
  <div>
    <button class="eqrs-button-primary  col-xs-12 col-md-3 col-lg-2" disabled="">Disabled button</button>
    <sup>*Note hover state</sup>
    <!--<p class="notes">eqrs-button-disabled</p>
  </div>
  <xmp class="notes">
    HTML:
    <button class="eqrs-button-primary" disabled</button>
  </xmp>-->
  <h4>Example layout 1</h4>
  <div class="row">
    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
      <button class="eqrs-button-destructive">Delete</button>
    </div>
    <div class="col-12 col-sm-3 col-md-2 offset-md-2 col-lg-2 offset-lg-2">
      <button class="eqrs-button-secondary">Cancel</button>
    </div>
    <!--   <span class="button-layout-submit-line"></span> -->
    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
      <button class="eqrs-button-primary">Save</button>
    </div>
    <!-- <span class="button-vertical-line"></span> -->
    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
      <button class="eqrs-button-accent" disabled="">Submit</button>
    </div>
  </div>
  <div class="row">
    <p class="notes  offset-md-4">Place primary call to action to the right of other buttons and away from destructive wherever possible.</p>
  </div>
  </div>


<h4>Example layout 2</h4>
<div class="row">
    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
      <button class="eqrs-button-secondary focus">Cancel</button>
    </div>
    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
      <button class="eqrs-button-destructive">Delete</button>
    </div>
    <!--   <span class="button-vertical-line"></span> -->
  </div>

  <p class="notes">Avoid placing initial focus on a destructive action.</p>

  <h4>Buttons as links</h4>
  <p>For use as a minor page interaction when user remains on page after clicking.</p>
  <p><button class="eqrs-edit-link">This is a button not a link</button> </p>











<!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-12">
    <span [routerLink] = "['/alerts']"> <i class="fa fa-chevron-left"></i> Previous: <b>Alerts</b> </span>
    <span [routerLink] = "['/checkbox']" class="pull-right"> Next: <b>Checkbox</b> <i class="fa fa-chevron-right"></i> </span>
  </div>
</div>
