<h1> Responsive Design </h1>
<hr>


<p> The EQRS application is built using the <a href="https://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">Bootstrap grid system</a> which provides a flexible, mobile-first, device-agnostic layout system. </p>

<p> According to <a href="https://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">Bootstrap</a>, the grid system "uses a series of containers, rows, and columns to layout and align content. It’s built with flexbox and is fully responsive. Below is an example and an in-depth look at how the grid comes together." </p>


<div class="row responsive-design mt-4 ml-0 mr-0">  

  <div class="col-md-4 responsive-design-image">   </div>

  <div class="col-md-8">  
  	<h3> Media query usage: </h3>
    <ul>
    	<li> We support tablets and desktop devices. </li>
    	<li> Our media queries start from 768px to 991px for tablet devices in portrait mode. </li>
    	<li> Desktop layout starts at 992px and up. </li>
    </ul>
    </div>


  </div>  <!-- row ends here -->




<!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-12">
    <span [routerLink] = "['/accessibility']"> <i class="fa fa-chevron-left"></i> Previous: <b>Accessibility</b> </span>
    <!-- <span [routerLink] = "['/responsivedesign']" class="pull-right"> Next: <b>Responsive Design</b> <i class="fa fa-chevron-right"></i> </span>. -->
  </div>
</div>