<h1> Alerts </h1>
<hr>

<p> Display at top of section </p>



<!-- SUCCESS STATUS -->
<div class="card col-md-9">
  <div class="card-body">
        <div class="eqrs-alert-success  col-md-12 mb-0">
          <div class="eqrs-alert-body">
            <h4 class="eqrs-alert-heading">Success status</h4>
            <p>Displays when database change is successful.</p>
          </div>
      </div>

        <div class="col-md-12 code-block">
          <div>
          <button class="btn code-button mt-2" (click) = "visibility = !visibility"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>
          <div *ngIf="visibility">
            <ngx-prism [language]="cssLanguage">
             {{cssContent}}
            </ngx-prism>
          </div>
         </div>
        </div>

  </div>
</div>  <!-- card ends here -->


<!-- WARNING STATUS -->
    <div class="card col-md-9 mt-5">
  <div class="card-body">
        <div class="eqrs-alert-warning  col-md-12">
          <div class="eqrs-alert-body">
            <h4 class="eqrs-alert-heading">Warning status</h4>
            <p>Displays when database change results in error but we allow user to temporarily persist the bad data. User action will eventually be needed to correct the bad data.</p>
          </div>
        </div>

        <div class="col-md-12 code-block">
          <div>
          <button class="btn code-button mt-2" (click) = "visibility = !visibility"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>
          <div *ngIf="visibility">
            <ngx-prism [language]="cssLanguage2">
             {{cssContent2}}
            </ngx-prism>
          </div>
         </div>
        </div>

    </div> 
  </div>  <!-- card ends here -->


<!-- ERROR STATUS -->
<div class="card col-md-9 mt-5">
  <div class="card-body">
        <div class="eqrs-alert-error col-md-12" role="alert">
          <div class="eqrs-alert-body">
            <h4 class="eqrs-alert-heading">Error status</h4>
            <p>Displays when database change fails. User action needed in order to save.</p>
          </div>
        </div>
      </div>
      </div> <!-- card ends here -->


<!-- ERROR MULTI-LINE STATUS -->
<div class="card col-md-9 mt-5">
  <div class="card-body">
        <div class="eqrs-alert-error  col-md-12">
          <div class="eqrs-alert-body">
            <h4 class="eqrs-alert-heading">Error multi-line</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            <ul>
              <li>This is item A</li>
              <li>This is item B</li>
              <li>This is item C</li>
              <ul>
          </ul></ul></div>
        </div>
      </div>
      </div>    <!-- card ends here -->


  <!-- ERROR SINGLE-LINE STATUS -->
<div class="card col-md-9 mt-5">
  <div class="card-body">
        <div class="eqrs-alert-error  col-md-12">
          <div class="eqrs-alert-body">
            <h4 class="eqrs-alert-heading">Error single line</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            <ul class="eqrs-single-list-item">
              <li>This is item A</li>
              <ul>
          </ul></ul></div>
        </div>
      </div>
      </div>  <!-- card ends here -->


<!-- INFORMATION STATUS -->
<div class="card col-md-9 mt-5">
  <div class="card-body">
        <div class="eqrs-alert-information  col-md-12">
          <div class="eqrs-alert-body">
            <h4 class="eqrs-alert-heading">Information status</h4>
            <p>Displays when feedback should be provided to the user. No user action needed.</p>
          </div>
        </div>
      </div>
      </div>  <!-- card ends here -->







