<h1 #scroll> Phone mask </h1>
<hr>

<div class="col-md-9">
  <div class="col-md-12">
    <button class="btn code-button mt-3 pull-right" (click) = "phoneMaskShow = !phoneMaskShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>
  </div>
  <div class="col-md-12 code-block">
    <div *ngIf="phoneMaskShow">
      <ngx-prism [language]="htmlLanguage">
        {{phoneMaskContent}}
      </ngx-prism>
    </div>
  </div>
</div>


<!--<div class="col-md-9">-->
  <!--<button (click)="scroll.scrollIntoView({behavior: 'smooth'})">scroll to top</button>-->
<!--</div>-->

<!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-12">
    <span [routerLink] = "['/focusonload']"> <i class="fa fa-chevron-left"></i> Previous: <b>Focus on load</b> </span>
    <span [routerLink] = "['/progresscircle']" class="pull-right"> Next: <b>Progress circle</b> <i class="fa fa-chevron-right"></i> </span>
  </div>
</div>
